*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.hero{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #b0df64;
}
nav{
    display: flex;
    width: 50%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav a:hover{
    color: red;
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: rgb(91, 68, 39);
}
.detel p{
    color: #556;
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.log{
    height: 50px;
    margin-left: 50px;
}
.images{
    width:45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}
.images:hover .shape{
    bottom: 40px;
    
}